@import url();
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'poppins', sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100% ;
    max-width: 1000px;
    min-height: 100px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px rgba(0,0,0,0.1);
}
.container .left_side
{
    position: relative;
    background: #003147;
    padding: 40px;
}
.profiletext
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profiletext  .imgbx
{
    position: relative;
    width: 2px;
    height: 2px;
    border-radius: 5%;
    overflow: hidden;
}


.leo{
    width: 300px;
}

.profiletext  .imgBx leo.jpg 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 4%;
    height: 4%;
    object-fit: cover;
}
.profiletext  h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profiletext h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactinfo
{
    padding-top: 40px;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactinfo ul
{
    position: relative;
}
.contactinfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactinfo ul li span
{
    color: #fff;
    font-weight: 300;
}
.contactinfo ul li h4
{
    color: #fff;
    font-weight: 300;
}
.contactinfo.EDUCATION h5
{
    color: #03a9f4;
    font-weight: 500; 
}
.contactinfo.LANGUES h5
{
    color: #03a9f4;
    font-weight: 500;
}
.container .right_side
{
    position: relative;
    background: #fff;
    padding: 40px;
}  
.about
{
    margin-bottom: 50px;
} 
.about :last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #333;
}
.EXPERIENCES h5
{
    color: #03a9f4;
    font-weight: 500;
    margin: 10px 0; 
}
.interet ul
{
    display: grid;
    grid-template-columns: repeat(4,2fr);
}
.interet ul li
{
    list-style: none;
    color: #03a9f4;
    font-weight: 500;
    margin: 10px 0;
}

